<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul id="deviseError">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-danger ms-3"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
