<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-absolute top-0 w-100 border-bottom px-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 fw-bold text-uppercase" href="<%= url_for(root_path) %>">Blog do Totore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="WIP" aria-label="Search">
          <button class="btn btn-outline-light disabled" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>